body {
    font-family: Georgia, Georgia;
    margin: 0;
    padding: 0;
    background-color: #748D92;
}

header {
    background-color: #748D92;
    color: #fcfcfc;
    text-align: left;
    padding: 15px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #D3D9D4;
    color: black;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
